<div th:fragment="menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SisContabil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">


          <li class="nav-item dropdown" th:if="${session.user?.id}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-header">
                <h6>
                  Ações
                </h6>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" th:href="@{'/usuario/update/'+ ${session.user?.id}}">Alterar dados de login</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="/logout">Sair</a>
              </li>
            </ul>
          </li>


          <li th:insert="fragments/moduloFinanceiro :: moduloFinanceiro"></li>
          <li th:insert="fragments/moduloContabilidade :: moduloContabilidade"></li>
          <li th:insert="fragments/moduloFaturamento :: moduloFaturamento"></li>
          <li th:insert="fragments/moduloAdmin :: moduloAdmin"></li>

        </ul>
      </div>
    </div>
  </nav>

  <div th:insert="fragments/msgAlertBox :: msgAlertBox"></div>


</div>