<li class="nav-item dropdown" th:fragment="moduloAdmin">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Admin
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="dropdown-header"><h6>Usuario</h6></li>
    <li><a class="dropdown-item" href="#">Cadastrar usuario</a></li>
    <li><a class="dropdown-item" href="#">Consultar usuario</a></li>

    <li class="dropdown-header"><h6>Tipo de Usuario</h6></li>
    <li><a class="dropdown-item" href="#">Cadastrar tipo de usuario</a></li>
    <li><a class="dropdown-item" href="#">Consultar tipo de usuario</a></li>

    <li class="dropdown-header"><h6>Setor</h6></li>
    <li><a class="dropdown-item" href="/funcionario/funcao/create">Cadastrar função funcionario</a></li>
    <li><a class="dropdown-item" href="/funcionario/funcao">Consultar funções de funcionarios</a></li>


    <li class="dropdown-header"><h6>Setor</h6></li>
    <li><a class="dropdown-item" href="/setor/create">Cadastrar setor</a></li>
    <li><a class="dropdown-item" href="/setor">Consultar setor</a></li>

  </ul>
</li>
