<li class="nav-item dropdown" th:fragment="moduloFinanceiro">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Financeiro
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="dropdown-header"><h6>Fornecedor</h6></li>
    <li><a class="dropdown-item" href="/fornecedor/create">Cadastrar fornecedor</a></li>
    <li><a class="dropdown-item" href="/fornecedor/list/">Consultar fornecedor</a></li>

    <li class="dropdown-header"><h6>Pagamento</h6></li>
    <li><a class="dropdown-item" href="#">Realizar pagamentos</a></li>
    <li><a class="dropdown-item" href="#">Relatórios de pagamentos</a></li>

    <li class="dropdown-header"><h6>Produto</h6></li>
    <li><a class="dropdown-item" href="#">Cadastrar produto</a></li>
    <li><a class="dropdown-item" href="#">Consultar produto</a></li>

    <li class="dropdown-header"><h6>Relatório</h6></li>
    <li><a class="dropdown-item" href="#">Relatório de lançamento Mensal</a></li>
    <li><a class="dropdown-item" href="#">Relatório de lançamento Anual</a></li>
  </ul>
</li>
