<li class="nav-item dropdown" th:fragment="moduloFaturamento">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Faturamento
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="dropdown-header"><h6>Cliente</h6></li>
    <li><a class="dropdown-item" href="/cliente/create/">Cadastrar cliente</a></li>
    <li><a class="dropdown-item" href="/cliente/list/">Consultar cliente</a></li>

    <li class="dropdown-header"><h6>Venda</h6></li>
    <li><a class="dropdown-item" href="#">Realizar venda</a></li>
    <li><a class="dropdown-item" href="#">Consultar venda</a></li>

    <li class="dropdown-header"><h6>Nota Fiscal</h6></li>
    <li><a class="dropdown-item" href="#">Gerar nota fiscal</a></li>
    <li><a class="dropdown-item" href="#">Consultar nota fiscal</a></li>

    <li class="dropdown-header"><h6>Estoque</h6></li>
    <li><a class="dropdown-item" href="#">Consultar estoque</a></li>
  </ul>
</li>
