<li class="nav-item dropdown" th:fragment="moduloContabilidade">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Contabilidade
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="dropdown-header"><h6>Funcionário</h6></li>
    <li><a class="dropdown-item" href="/funcionario/create">Cadastrar funcionário</a></li>
    <li><a class="dropdown-item" href="/funcionario/">Consultar funcionário</a></li>

    <li class="dropdown-header"><h6>Folha de Pagamento</h6></li>
    <li><a class="dropdown-item" href="/folha-pagamento/create">Lançar folha de pagamento</a></li>
    <li><a class="dropdown-item" href="#">Consultar folha de pagamento</a></li>

    <li class="dropdown-header"><h6>Relatório de Folhas de Pagamentos</h6></li>
    <li><a class="dropdown-item" href="#">Relatório de lançamento de folhas Mensal</a></li>
    <li><a class="dropdown-item" href="#">Relatório de lançamento de folhas Anual</a></li>
  </ul>
</li>