<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sistema Contabil</title>
  <link rel="stylesheet" href="/bootstrap-5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

</head>

<body>

  <div th:insert="fragments/menu :: menu"></div>

  <div class="container-fluid">
    <h2 class="mt-4 mb-4">Folha de Pagamento</h2>

    <div class="d-flex gap-2 mb-4">
      
      <div class="d-flex border p-2">
        <strong class="me-2">
          Competência:
        </strong>
        <span class="badge bg-success" th:text="${folhaPagamento?.competencia}"></span>
      </div>

      <div class="d-flex border p-2">
        <strong class="me-2">
          Setor:
        </strong>
        <span class="badge bg-secondary" th:text="${folhaPagamento?.setor.nome}"></span>
      </div>

      <div class="d-flex border p-2">
        <strong class="me-2">
          Total Proventos:
        </strong>
        <span class="badge bg-info" th:text="${totalProventos != null ? totalProventos : ' '}"></span>
      </div>

      <div class="d-flex border p-2">
        <strong class="me-2">
          Total Comissões:
        </strong>
        <span class="badge bg-warning" th:text="${totalComissao != null ? totalComissao : ' '}"></span>
      </div>

      <div class="d-flex border p-2">
        <strong class="me-2">
          Total Desconto(INSS):
        </strong>
        <span class="badge bg-danger" th:text="${totalDescontoINSS != null ? totalDescontoINSS : ' '}"></span>
      </div>

      <div class="d-flex border p-2">
        <strong class="me-2">
          Valor Total:
        </strong>
        <span class="badge bg-primary" th:text="${valorTotal != null ? valorTotal : ' '}"></span>
      </div>

      <div class="d-flex border p-2">
        <strong class="me-2">
          Status
        </strong>
        <span th:class=" ${folhaPagmento?.status == true}? 'badge bg-danger' : 'badge bg-success' "
         th:text="${folhaPagmento?.status == true}? 'A pagar': 'Pago' "></span>
      </div>
    </div>

    <table class="table table-striped table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Função</th>
          <th scope="col">Data Admissão</th>
          <th scope="col">Salario Base</th>
          <th scope="col">Desconto INSS %</th>
          <th scope="col">Desconto INSS R$</th>
          <th scope="col">Comissão</th>
          <th scope="col">Salario liquido</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="contraCheque : ${folhaPagamento?.contraCheques}">
          <td th:text="${contraCheque.funcionario.id}"></td>
          <td th:text="${contraCheque.funcionario.nome}"></td>
          <td th:text="${contraCheque.funcionario.CPF}"></td>
          <td th:text="${contraCheque.funcionario.funcao.cargo}"></td>
          <td>
            <span class="badge bg-success"
              th:text="${#dates.format(contraCheque.funcionario.dataAdmissao,'dd/MM/yyyy')}"></span>
          </td>
          <td th:text="${contraCheque.funcionario.funcao.salario}"></td>
          <td th:text="${contraCheque.DescontoINSS}"></td>
          <td th:text="${contraCheque.getDescontoDinheiro()}"></td>
          <td th:text="${contraCheque.comissao}"></td>
          <td th:text="${contraCheque.getSalarioLiquido}">#salarioLiquido</td>








        </tr>
      </tbody>
    </table>

  </div>



  <script src="/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>