<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sistema Contabil</title>
  <link rel="stylesheet" href="/bootstrap-5.0/css/bootstrap.min.css">


</head>

<body>

  <div th:insert="fragments/menu :: menu"></div>
  
  <div class="container-fluid">
    <h4 class="mt-4" th:text="${funcao}? 'Atualizar Função' : 'Cadastrar Função'"></h4>
    <form class="row g-3 form-floating needs-validation" method="POST" th:action="${funcao}? '/funcionario/funcao/update' : ''">
      
      <h5 class="mt-4 mb-0 text-muted">Dados da Função</h5>
      <div class="col-md-6 form-floating">
        <input type="text" class="form-control" id="inputNomeCargo" name="cargo" placeholder="Nome do Cargo" required
          th:value="${funcao?.cargo}"
        >
        <label for="inputNomeCargo">Nome Cargo</label>
      </div>
      <div class="col-md-6 form-floating">
        <input type="number" class="form-control" id="inputCargaHoraria" name="cargaHoraria" placeholder="Carga Horaria" required
          th:value="${funcao?.cargaHoraria}"
        >
        <label for="inputCargaHoraria">Carga Horaria</label>
      </div>
      <div class="col-md-6 form-floating">
        <input type="number" step=0.01 class="form-control" id="inputSalario" name="salario" placeholder="Carga Horaria" required
          th:value="${funcao?.salario}"
        >

        <label for="inputSalario">Salário</label>
      </div>
      <div class="col-md-6 form-floating">
        <select id="inputSetor" class="form-select" name="setor" required>
          <option selected disabled value="">Selecione</option>
          <option 
            th:each="setor : ${allSetors}"
            th:value="${setor.id}"
            th:text="${setor.nome}"
            th:selected= "${funcao != null and funcao.setor.id == setor.id} ? true : false" 
          >...</option>
        </select>
        <label for="inputSetor" class="form-label">Setor</label>
      </div>

      <div th:if="${funcao}">
        <input type="hidden" th:value="${funcao?.id}" name="Id" />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-lg" th:text="${funcao}? 'Atualizar' : 'Cadastrar'"></button>
      </div>
    </form>
  </div>



  <script src="/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>