<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema Contabil</title>
    <link rel="stylesheet" href="/bootstrap-5.0/css/bootstrap.min.css">


</head>
<body>


  <div th:insert="fragments/menu :: menu"></div>
  
  <div 
    th:if="${param.message_text}" 
    class="alert alert-dismissible fade show" 
    th:classappend="${param.message_type} ?'alert-'+${param.message_type} : 'alert-primary' "
    role="alert">

    <strong th:text="${param.message_text}"></strong>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 


<script src="/js/clearAlert.js"></script>  
<script src="/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
