<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sistema Contabil</title>
  <link rel="stylesheet" href="/bootstrap-5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">


</head>

<body>

  <div th:insert="fragments/menu :: menu"></div>

  <div class="container-fluid">
    <h4 class="mt-4">Lista de Clientes</h4>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">Id</th>
          <th scope="col" class="text-center">Nome</th>
          <th scope="col" class="text-center">CPF</th>
          <th scope="col" class="text-center">Rua</th>
          <th scope="col" class="text-center">Número</th>
          <th scope="col" class="text-center">CEP</th>
          <th scope="col" class="text-center">Bairro</th>
          <th scope="col" class="text-center">Cidade</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">status</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cliente : ${allCliente}">
          <td class="text-center" th:text="${cliente.id}"></td>
          <td class="text-center" th:text="${cliente.nome}"></td>
          <td class="text-center" th:text="${cliente.CPF}"></td>
          <td class="text-center" th:text="${cliente.endereco.logradouro}"></td>
          <td class="text-center" th:text="${cliente.endereco.numero}"></td>
          <td class="text-center" th:text="${cliente.endereco.cep}"></td>
          <td class="text-center" th:text="${cliente.endereco.bairro}"></td>
          <td class="text-center" th:text="${cliente.endereco.cidade}"></td>
          <td class="text-center" th:text="${cliente.endereco.UF}"></td>
          <td class="text-center"><span th:class="${cliente.status==true}? 'badge bg-success': 'badge bg-danger'"
             th:text="${cliente.status==true}? 'Ativo' : Inativo"></span></td>
         
          <td class="text-center">
            <a th:href="@{'/cliente/update/'+${cliente.id}}" class="btn btn-sm btn-primary">
              <i class="bi bi-pencil"></i>
            </a>
          </td>
          
        </tr>
      </tbody>
    </table>
    </p>

  </div>



  <script src="/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>