<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sistema Contabil</title>
  <link rel="stylesheet" href="/bootstrap-5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

</head>

<body>

  <div th:insert="fragments/menu :: menu"></div>

  <div class="container-fluid">
    <h2 class="mt-4 mb-4">Relatório Anual</h2>

    <form class="row g-3 form-floating" method="POST">
      <div class="col-md-3 form-floating mb-4">
        <input type="number" min="0" class="form-control" name="competencia" id="inputCompetencia" placeholder="Competencia"
         required >
        <label for="inputCompetencia" class="form-label">filtrar por Ano</label>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-lg">Filtar</button>
      </div>
    </form>

    <div class="d-flex gap-2 mb-4">
      
      <div class="col-md-4 d-flex border p-4 h4">
        <strong class="me-3">
          Competência:
        </strong>
        <span class="badge bg-success" th:text="${competencia != null ? competencia : 'Geral'}"></span>
      </div>

      <div class="col-md-4 d-flex border p-4 h4">
        <strong class="me-3">
          Total de Empregados:
        </strong>
        <span class="badge bg-warning" th:text="${quantEmpregadoTotal != null ? quantEmpregadoTotal : ' '}"></span>
      </div>

      <div class="col-md-4 d-flex border p-4 h4">
        <strong class="me-3">
          Total das Folhas (Ano):
        </strong>
        <span class="badge bg-danger" th:text="'R$' + ${valorTotal != null ? valorTotal : ' '}"></span>
      </div>

     
    </div>

    <table class="table table-striped table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Mês</th>
          <th scope="col">Total De Folhas</th>
          <th scope="col">Nº de Empregados</th>
          <th scope="col">Valor Total das Folhas (Mês) R$</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="folha, i: ${folhaAnual.getAllFolhas()}" >
          <td th:text="${i.count}"></td>
          <td th:text="${folhaAnual.getQuantTotalFolhasByMes(i.count)}"></td>
          <td th:text="${folhaAnual.getQuantTotalEmpregadosFolhaByMes(i.count)}"></td>
          <td th:text="${folhaAnual.getValorTotalFolhaByMes(i.count)}"></td>
        </tr>
      </tbody>
    </table>

  </div>



  <script src="/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>